<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Maps</title>
    <link rel="stylesheet" type="text/css" href="/custom.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div id="map"></div>
<script src= "/custom.js"></script>
<script th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' +
@environment.getProperty('api_key') + '&callback=initMap'}}" async defer>
</script>
</body>
</html>