<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head th:replace="fragments/fragments :: head">
    <link rel="stylesheet" media="screen" href="/style.css"/>

</head>


<body>
<div th:replace="fragments/fragments :: navbar" ></div>

<main role="main" style="background-image: url('images/theoffice.jpeg');">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="text-light" style="background-color: #95ac98;">
        <div class="container">
            <h1 class="display-3">Office Coffee SALE</h1>
            <p>Come celebrate Kelly's Birthday party by buying a office coffee mug </p>
<!--            <p><a class="btn btn-primary btn-lg" href="/about" role="button">About &raquo;</a></p>-->
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="card col-md-3 small-product-card"  th:each="product:${products}">
                <a  th:href="@{/product/{id}(id=${product.getId()})}"><img th:alt="${product.name}" th:src="@{${product.image}}" class="card-img"/></a>
                <div class="card-body">
                    <div class="card-title">
                        <h4 th:text="${product.name}"></h4>
                        <h6 th:text="${product.price}"></h6>
                        <small th:text="${product.getBrand()}"></small>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>

